/demo/*.mp3
/demo/*.png
/demo/*.wav
/demo/bundle.*
/dist/*.mp3
/dist/*.png
/dist/*.wav
/dist/bundle.*
/node_modules
/redbean.com

/DigginItWrapper/.vs
/DigginItWrapper/bin
/DigginItWrapper/obj
/DigginItWrapper/packages
/DigginItWrapper/Resources
/DigginItWrapper/*.txt
/DigginItWrapper/resources.zip
